body{
  background-color: #1c1c1e;
}

h2, p, h1, h3, li{
  color: white
}

.container1{
    margin-top: 45px;
    margin-bottom: 45px;
}

.container2{
    margin-top: 45px;
    padding-left: 15px;
}


.sample-text{
    text-align: center;
}

.clickBtn{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    height: 55px;
    border-radius: 5px;
}

.btn {
  background-color: white;
  color: black;
}